In [1]:
import pandas as pd
import pandasai

In [6]:
qb_df = pd.read_csv("C:\\Users\\john_\\OneDrive\\ff\\2023\\huddle_2023_0_QB_projections.csv")

In [8]:
qb_df.head(4)

,Rank,Player,Pos,Team,Bye,FFPTS,PAYDS,PATDS,INT,RUYDS,RUTDS,TOTYDS,TOTTD
0,1,Patrick Mahomes,QB,KC,10,461.0,5000,40,10,350,4,5350,44
1,2,Josh Allen,QB,BUF,13,447.0,4380,35,12,600,7,4980,42
2,3,Joe Burrow,QB,CIN,7,411.0,4700,36,12,200,3,4900,39
3,4,Jalen Hurts,QB,PHI,10,403.0,3680,25,6,750,11,4430,36

In [32]:
# rename columns to make it easier for AI to understand
#qb_df.columns
qb_df.rename(inplace=True, columns={'Pos': 'Position', 'FFPTS': 'Total Points', 'PAYDS':'Passing Yards', 'PATDS':'Passing Touchdowns', 'INT':'Interceptions', 'RUYDS':'Rushing Yards', 'RUTDS': 'Rushing Touchdowns', 'TOTYDS': 'Total Yards', 'TOTTD': 'Total Tuchdowns'})
qb_df.columns

Index(['Rank', 'Player', 'Position', 'Team', 'Bye', 'Total Points',
       'Passing Yards', 'Passing Touchdowns', 'Interceptions', 'Rushing Yards',
       'Rushing Touchdowns', 'Total Yards', 'Total Tuchdowns'],
      dtype='object')

In [12]:
import configparser
config = configparser.ConfigParser()
config.read("C:\\Users\\john_\\OneDrive\\ff\\config.ini")

[]

In [14]:
api_key = config['DEFAULT']['OpenAIKey']

In [17]:
from pandasai import PandasAI
from pandasai.llm.openai import OpenAI

In [22]:
llm = OpenAI(api_token=api_key)
pandas_ai = PandasAI(llm)

In [28]:
pandas_ai(qb_df, prompt='How many rows are in this set?')

40

In [35]:
pandas_ai(qb_df, prompt='What are the top five players by passing yards?')

,Rank,Player,Position,Team,Bye,Total Points,Passing Yards,Passing Touchdowns,Interceptions,Rushing Yards,Rushing Touchdowns,Total Yards,Total Tuchdowns
0,1,Patrick Mahomes,QB,KC,10,461.0,5000,40,10,350,4,5350,44
6,7,Justin Herbert,QB,LAC,5,371.0,4720,30,12,150,0,4870,30
2,3,Joe Burrow,QB,CIN,7,411.0,4700,36,12,200,3,4900,39
7,8,Kirk Cousins,QB,MIN,13,364.0,4600,30,7,100,1,4700,31
5,6,Trevor Lawrence,QB,JAC,9,374.0,4400,28,9,300,3,4700,31

In [38]:
pandas_ai(qb_df, prompt='What team has the most players?')

'ARI'

In [41]:
pandas_ai(qb_df, prompt='Who is on LAC?')

,Rank,Player,Position,Team,Bye,Total Points,Passing Yards,Passing Touchdowns,Interceptions,Rushing Yards,Rushing Touchdowns,Total Yards,Total Tuchdowns
6,7,Justin Herbert,QB,LAC,5,371.0,4720,30,12,150,0,4870,30